<!DOCTYPE html>
<html lang="en">
    <%- include('layouts/header'); -%>
    <body>
        <!-- Header-->
        <header class="post-header" style="background-image: url('<%= userImage.image %>')">
            <!-- Nav-->
            <%- include('layouts/navbar'); -%>
            <!--Section-->
            <section>
                <div class="marketing">
                    <h1 class="userHeader">Welcome to <i><%= userImage.username %></i> blog!</h1>
                </div>
            </section>
        </header>
        <!-- Main-->
        <main>
            <div class="container-fluid">
                <div class="row justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <% for(let i = 0; i < userPosts.length; i++) { %>
                            <div class="preview-container d-flex flex-column flex-md-row mt-4 rounded">
                                <div class="img-preview  m-auto m-md-0 me-md-3 mb-2 mb-md-0">
                                    <img class="rounded" src="<%= userPosts[i].image %>" alt="">
                                </div>
                                <div class="post-preview text-center text-md-start">
                                    <a href="/post/<%= userPosts[i]._id%>">
                                        <h2 class="post-title">
                                            <%= userPosts[i].title %>
                                        </h2>
                                    </a>
                                    <p class="post-meta">Posted by
                                        <a href="/user/<%= userPosts[i].userid._id %>"><%= userPosts[i].userid.username %></a>
                                        on <%= userPosts[i].createdAt.toDateString() %>
                                    </p>
                                </div>
                            </div>
                            <hr>
                        <%}%>
                         <div class="d-flex justify-content-center justify-content-md-end">
                            <button type="button" class="btn-lg btn-dark">Older Posts</button>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
        </main>
        <!-- Footer-->
        <%- include('layouts/footer'); -%>
        <!-- JS-->
        <%- include('layouts/scripts'); -%>
    </body>
</html>
